<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>投稿画面</h2>
    <form th:action="@{/create}" method="post">
        <div>
            <p> 題名  :  <input type="text" placeholder="題名" name="eventName"> </p>
        </div>
        <div>
            <p> 出来事 : <input type="text" placeholder="出来事" name="eventDetail"> </p>
        </div>
        <button type="submit">送信</button>
    </form>

    <form th:action="@{/move}" method="post">
        <button type="submit">全体</button>
    </form>
</body>
</html>