<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>ログイン画面</h2>
    <form th:action="@{/move}" method="post">
        <div>
            <input type="text" placeholder="名前" name="name">
        </div>
        <div>
            <input type="text" placeholder="e-mail" name="email">
        </div>
        <button type="submit">送信</button>
    </form>
</body>
</html>